.prof_box {
  width: 50%;
  height: 400px;

  padding-top: 110px;
  padding-left: 12.5%;
  padding-right: 10%;
  background-color: rgba(0,0,255,0.1);
  margin-top: 20px;
}

.nav  {
  padding-top: 20px;
  padding-right: 50px;
  color: black;

}

.carousel {
  width: 75%;
  margin-left: 12.5%;
}

.card-title {
  color: black;

}
.profile_picture {
  background-color: rgba(0,0,255,0.1);
  height: 400px;
  margin-top: 20px;
  padding-top: 50px;
}

.section {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.icon {
  padding-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#535963' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#535963' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
